body {
    background-color: #f7f6f2;
    font-family: Arial, sans-serif;
}

.nav-hover {
    position: relative;
    color: #333;
}

.nav-hover:hover {
    color: #1f3d2b;
}

.nav-hover::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #1f3d2b;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.nav-hover:hover::after {
    width: 100%;
}

.search-icon {
    cursor: pointer;
    color: #333;
}

.search-icon:hover {
    color: #1f3d2b;
}


.hero-text h1 {
    font-size: 40px;
    font-weight: bold;
    color: #1f3d2b;
}

.hero-text p {
    color: #666;
}
.hero-btn {
    border: 1px solid #1f3d2b;
    padding: 10px 25px;
    background: transparent;
    color: #1f3d2b;
    font-size: 14px;
}

.hero-btn:hover {
    background: #1f3d2b;
    color: white;
    transform: translateY(-2px);
}


.brand-row img {
    height: 30px;
    opacity: 0.6;
}

.about-title {
    font-weight: bold;
    font-size: 22px;
}

.brand-img {
    height: 30px;
    transition: 0.3s;
}

.brand-img:hover {
    opacity: 1;
}
.section-title {
    font-weight: bold;
    font-size: 28px;
}

.circle-text {
    background: #f4b400;
    color: white;
    padding: 6px 12px;
    border-radius: 50%;
    margin-right: 5px;
}
.portfolio-img {
    transition: 0.3s;
}

.portfolio-img:hover {
    transform: scale(1.05);
}
.about-p{
    color: #666;
}

