*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1400px;
}
.main{
    display: flex;
}
.navbar{
    width: 1400;
    height: 100px ;
    background-color: rgb(255, 253, 253);

}
.navbar .logo{
    padding: 10px 20px;
}
.icon{
    width: 50px;
}
.hero{
    display: flex;
}
.content{
 justify-content: space-evenly;
 align-items: center;
}

